* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Toggle container */
.theme-toggle {
  position: relative;
  width: 90px;
  height: 40px;
}

/* Hide the checkbox */
.theme-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  outline: none;
}

/* Slider background */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 80px;
  background: url("../images/toggle-day.svg") center/contain no-repeat, linear-gradient(82deg, #77C2D0 10.28%, #3D91A7 100%);
  box-shadow: -2px 4px 14px 0 rgba(0, 0, 0, 0.3) inset;
  transition: background 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  overflow: hidden;
}

/* Knob */
.slider::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  left: 4px;
  bottom: 4px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
  z-index: 2;
}

/* Sun & moon icons */
.icon {
  font-size: 18px;
  z-index: 1;
  pointer-events: none;
  transition: opacity ease;
}

.sun {
  color: #facc15;
  opacity: 1;
}

.moon {
  color: #f1f5f9;
  opacity: 0;
}

/* Checked state (dark mode) */
input:checked + .slider {
  background: url("../images/Toggle-night.svg") center/contain no-repeat, linear-gradient(82deg, #041326 10.28%, #0E314C 100%);
}

input:checked + .slider::before {
  transform: translateX(calc(90px - 30px - 8px));
}

/*input:checked + .slider .sun {
  opacity: 0;
}

input:checked + .slider .moon {
  opacity: 1;
}*/
main {
  min-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 4rem;
  gap: 2rem;
  font-family: "Fauna One", serif;
}
main h1 {
  font-size: 2.5rem;
  line-height: 1.25em;
  max-width: 800px;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  text-align: center;
}
main #opciones,
main #name-inpt {
  font-size: 1.125rem;
  line-height: 1.75rem;
  width: 250px;
  padding: 0.5rem;
  height: 60px;
  outline: none;
  border: none;
}
main #opciones {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}
main #btn {
  font-size: 1.125rem;
  width: 70px;
  height: 60px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #22bf6b;
  color: #f5f5f4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main #btn:hover {
  background-color: #f08956;
}
main #resultado {
  font-size: 1.75rem;
  font-family: "Roboto", sans-serif;
}
main.light-theme {
  background-color: #f5f5f4;
  color: #444444;
}
main.light-theme #opciones {
  background-color: #444444;
  color: #f5f5f4;
}
main.dark-theme {
  background-color: #444444;
  color: #f5f5f4;
}
main.dark-theme #opciones {
  background-color: #f5f5f4;
  color: #444444;
}

@media (max-width: 799px) {
  .theme-toggle {
    width: 50px;
    height: 25px;
  }
  .slider::before {
    height: 13px;
    width: 13px;
  }
  main {
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
  }
  main h1 {
    font-size: 1.35rem;
    max-width: 300px;
  }
  main #contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  main #contenido #opciones,
  main #contenido #name-inpt, main #contenido #btn {
    font-size: 1rem;
    line-height: 1.125rem;
    width: 200px;
    padding: 10px;
    height: 60px;
    border-radius: 10px;
  }
  main #resultado {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    max-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */